<div class="row">
    <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
            <div class="form-group">
                <label for="" class="form-label">Username</label>
                <input type="text" name="" class="form-control" formControlName="username">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Login Now</button>
                <button type="submit" class="btn btn-danger">cancel</button>
            </div>


        </form>
    </div>
</div>